.youtube {
    font-size: normal;
    font-style: normal;
    background-color: rgb(200, 0, 0);
    color: white;
    border-radius: 5px;
    border: 0;  
    width: 160px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s
}

.youtube:hover {
    opacity: 35%
}